body {
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 20px;
}

#textoone p {
    padding: 15px;
    text-align: justify;
}

.navbar-inverse {
    margin-bottom: 0;
    border-radius: 0px;
}

#seccion_inicio {
    background: #000111;
    color: white;
    padding-bottom: 30px;
}

#seccion_inicio button {
    background-color: #000111;
    border-radius: 5px;
}

#textoone {
    padding-top: 100px;
}

#seccion {
    padding-top: 150px;
}

#imagen1 {
    box-shadow: 0px 0px 15px skyblue;
    border-radius: 30px;
}

#imagen2 {
    margin-top: 55px;
}

#imagen10 {
    box-shadow: 0px 0px 15px skyblue;
    border-radius: 10px;
    margin-bottom: 100px;
}

#texto1 {
    padding: 150px 50px 40px 50px;
    text-align: center;
}

#textoone p {
    margin: 0 0 30px;
}

#seccion_contacto {
    background: #000111;
    padding: 50px 50px 10px 50px;
}

#seccion_contacto ul {
    list-style-type: none;
    margin: 0;
}

#seccion_contacto ul li {
    display: inline;
}

#seccion_contacto a {
    color: white;
}

#seccion_contacto ul li a:hover {
    text-decoration: none;
    color: white;
}

#seccion_contacto ul li a:hover i {
    background: #2D373D;
}

#seccion_contacto .btn {
    border-radius: 50px;
    font-size: 20px;
    box-shadow: 0px 2px 5px #787878;
    padding: 20px 40px;
    color: black;
    box-shadow: 0 0 30px white;
}

#seccion_contacto .btn:hover {
    background: #4b4b4b;
}

#seccion_contacto .fa {
    border: 2px white solid;
    border-radius: 50%;
    font-size: 40px;
    padding: 10px 15px;
    margin-right: 20px;
    box-shadow: 0 0 30px skyblue;
}

#seccion_contacto .fa-twitter {
    padding: 10px 13px;
    box-shadow: 0 0 30px skyblue;
}

#seccion_contacto .fa-facebook {
    padding: 10px 20px;
    box-shadow: 0 0 30px skyblue;
}

#seccion_contacto .fa-google-plus {
    padding: 10px 7px;
    box-shadow: 0 0 30px skyblue;
}

.carousel-inner img {
    height: 670px!important;
    width: 100%!important;
}

#parallax {
    font-family: Tahoma;
    padding: 50px;
    background-image: url('http://media.idownloadblog.com/wp-content/uploads/2017/04/Apple-Watch-NikeLab-image-004.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax h4 {
    font-size: 35px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
    color: #000;
    text-shadow: 0 2px 3px white;
}

#parallax h2 {
    font-size: 45px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: black;
    margin-bottom: 40px;
    color: #000;
    text-shadow: 0 2px 3px #555555;
}

.google-maps {
    text-align: center !important;
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.thumbnail {
    height: 550px;
    text-align: center;
    box-shadow: 0px 0px 35px black;
    margin-bottom: 150px;
    margin-top: 100px;
    border: 4px solid black;
}

.thumbnail img {
    padding: 30px;
}

#boton {
    margin-top: 20px;
}

.caption p {
    font: small-caps 100%/150%;
}

#copyright {
    text-align: inherit;
    padding-top: 20px;
}

#seccion_features h1 {
    text-align: center;
}
